@font-face {
  font-family: 'FuturaStd-Bold';
  src: url('FuturaStd-Bold.eot');
  src: url('FuturaStd-Bold.woff2') format('woff2'),
       url('FuturaStd-Bold.woff') format('woff'),
       url('FuturaStd-Bold.ttf') format('truetype'),
       url('FuturaStd-Bold.svg#FuturaStd-Bold') format('svg'),
       url('FuturaStd-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

